.app-body{
    /* background-color: rgba(252, 242, 255, 0.841); */
    height: 100vh;
}
.app-left-side{
    height:100vh; 
    background-color: rgba(9, 9, 9, 0.841);
}
.app-right-side{
    height:100vh;
    background-color:rgb(71, 64, 64);
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .app-left-side{
        display: inline-block;
        height: 20%;
    }
    .app-right-side{
       width: 100%;
       
    }
}